  p{
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAF3jvkhiHrC4W-Vu9J_0A1kvni4C5qZrj1w&s');
            margin: 5px 10px 10px 50px;
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: left;
        }