 *{
    box-sizing: border-box;
 }
 .parent{
    height: 100vh;
    border: 20px solid black;
    display: flex;
    /* flex-direction: row; */

    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: space-evenly; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center */

   flex-wrap: wrap;
   align-content: flex-start;
   /* flex-flow: row wrap;
    align-content: flex-start; */

 }
 .div1,.div2,.div3,.div4{
    height: 200px;
    width: 200px;
 }
 .div1{
    background-color: aqua;
    order: 4;
    /* align-self: center; */
 }
 .div2{
    background-color: blue;
    order: 3;
 }
 .div3{
    background-color: blueviolet;
    order: 2;
    /* align-self: last baseline; */
 }
 .div4{
    background-color:brown;
    order: 1;
 }
